.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(178, 4, 247);
  background-color: rgb(127, 228, 11);
  padding: 20px;
}

.header{
  padding: 10px;
  font-size: large;
  font-weight: bolder;
}