.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(4, 61, 247);
  background-color: lightslategrey;
  padding: 10px;
}

.header{
  padding: 10px;
  font-size: large;
  font-weight: bolder;
}